<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class="ans" id="id_ans">
  ans
  <div class="sib1" id="id_sib1">
    sib1
  </div>
  <div class="sib2" id="id_sib2">
    sib2
  </div>
  <div class="sib3" id="id_sib3">
    sib3
  </div>
</div>

<div class="checkbox">
  <%= check_box :page, :freezeflag, {}, false, true %>
</div>

<div>
  <%= radio_button('radio', "category", "socrates") %>
  <%= radio_button('radio', "category", "platon") %>
  <%= radio_button('radio', "category", "diogenes") %>
</div>

<p>
  <%= select_tag(:single_select, options_for_select(['select1', 'select2']), prompt: 'Select something') %>
</p>

<p>
  <%= select_tag(:multiple_select, options_for_select(['select1', 'select2']), prompt: 'Select something', multiple: true) %>
</p>

<p>
  <%= form_tag '/upload', multipart: true do %>
    <%= label_tag :attachment %>
    <%= file_field_tag(:attachment) %>
    <%= submit_tag %>
  <% end %>
</p>


<p>
  <%= link_to 'New User', new_user_path %>
</p>


