<p id="notice"><%= notice %></p>
<%= @user.decorate.trial_name %>
<%= @user.decorate.created_at %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<%= show_for @user do |u| %>
  <%= u.attribute :name %>
  <%= u.attribute :created_at %>
  <%= u.attribute :updated_at %>
<% end %>